.message{
    display: flex;
    align-items: center;
    padding: 20px;
}

.message > img{
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 100%;
}

.messageTimeStamp{
    color: gray;
    font-weight: 300;
    font-size: 13px;
}

.messageInfo{
    padding-left: 10px;
}